

@model GamerPrUpload


<form enctype="multipart/form-data" id="AddProfile" method="post" asp-action="AddProfile">
    <div class="form-group" >
    <label for="ProfileId">Profile Id</label>
    <input type="number" class="form-control" name="ProfileId" readonly>
    </div>
    <div class="form-group">
    <label for="RealName">Real Name</label>
    <input type="text" class="form-control" name="RealName" >
    </div>
    <div class="form-group">
    <label for="GamerName">Gamer Name</label>
    <input type="text" class="form-control" name="GamerName" >
    </div>
    <div class="form-group">
                                                
        <input type="radio" id="AddMale" name="Gender" value="Male" >
        <label for="AddMale">Male</label><br>
        <input type="radio" id="AddFemale" name="Gender" value="Female">
        <label for="AddFemale">Female</label><br>
        <input type="radio" id="AddOther" name="Gender" value="Other">
        <label for="Other">Other</label>
                                                
                                                
    </div>
    <div class="form-group">
    <label for="GamingDevice">Gaming Device</label>
    <input type="text" class="form-control" name="GamingDevice" placeholder="Choose From : Pc , Mobile , Console" >
    </div>
    <div class="form-group">
                                
                                
    <input name="IsEsportPlayer" type="checkbox" value="true" />
    <input name="IsEsportPlayer" type="hidden" value="false" />
    <label for="IsEsportPlayer">Is Esport Player</label>
                                
    </div>
    <div class="form-group">
    <label for="AddEmail">Email</label>
    <input type="email" class="form-control" id="AddEmail" name="Email">
    </div>

    <div class="form-group">
    <label for="GamingPlatformId">Gaming Platform Id</label>
    <input type="text" class="form-control" name="GamingPlatformId">
    </div>

    <div class="form-group">
    <label for="Photo">Upload Photo</label>
    <input asp-for="Photo" class="form-control" name="Photo">
    </div>
  
    <button type="submit" class="btn btn-primary">Add Profile</button>
</form>